<a href="https://colab.research.google.com/github/lucasfreire01/Microbiness_godaddy/blob/main/godaddy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Drawing datas of census DataFrame**

---

In [195]:
!pip install pyod

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyod in /usr/local/lib/python3.10/dist-packages (1.0.9)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from pyod) (1.2.0)
Requirement already satisfied: scipy>=1.5.1 in /usr/local/lib/python3.10/dist-packages (from pyod) (1.10.1)
Requirement already satisfied: numba>=0.51 in /usr/local/lib/python3.10/dist-packages (from pyod) (0.56.4)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.10/dist-packages (from pyod) (1.2.2)
Requirement already satisfied: numpy>=1.19 in /usr/local/lib/python3.10/dist-packages (from pyod) (1.22.4)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from pyod) (3.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from pyod) (1.16.0)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in /usr/local/lib/python3.10/dist-packages (from numba>=0.51->pyod) (0.39.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from numba>=0.51->pyod) (67.7.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.20.0->pyod) (3.1.0)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyod) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyod) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyod) (23.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyod) (1.0.7)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyod) (4.39.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyod) (0.11.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyod) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->pyod) (2.8.2)

In [196]:
!pip install xgboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xgboost in /usr/local/lib/python3.10/dist-packages (1.7.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.22.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.10/dist-packages (from xgboost) (1.10.1)

In [197]:
#Importing libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import cross_val_score, train_test_split,RepeatedKFold
import seaborn as sns
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, ExtraTreesRegressor
import matplotlib.pyplot as plt
import xgboost

In [198]:
#1St import dataset
census =  pd.read_csv('/content/drive/MyDrive/census_starter.csv')

In [199]:
census

,pct_bb_2017,pct_bb_2018,pct_bb_2019,pct_bb_2020,pct_bb_2021,cfips,pct_college_2017,pct_college_2018,pct_college_2019,pct_college_2020,...,pct_it_workers_2017,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021
0,76.6,78.9,80.6,82.7,85.5,1001,14.5,15.9,16.1,16.7,...,1.3,1.1,0.7,0.6,1.1,55317,58786.0,58731,57982.0,62660.0
1,74.5,78.1,81.8,85.1,87.9,1003,20.4,20.7,21.0,20.2,...,1.4,1.3,1.4,1.0,1.3,52562,55962.0,58320,61756.0,64346.0
2,57.2,60.4,60.5,64.6,64.6,1005,7.6,7.8,7.6,7.3,...,0.5,0.3,0.8,1.1,0.8,33368,34186.0,32525,34990.0,36422.0
3,62.0,66.1,69.2,76.1,74.6,1007,8.1,7.6,6.5,7.4,...,1.2,1.4,1.6,1.7,2.1,43404,45340.0,47542,51721.0,54277.0
4,65.8,68.5,73.0,79.6,81.0,1009,8.7,8.1,8.6,8.9,...,1.3,1.4,0.9,1.1,0.9,47412,48695.0,49358,48922.0,52830.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,82.2,82.4,84.0,86.7,88.4,56037,15.3,15.2,14.8,13.7,...,0.6,0.6,1.0,0.9,1.0,71083,73008.0,74843,73384.0,76668.0
3138,83.5,85.9,87.1,89.1,90.5,56039,37.7,37.8,38.9,37.2,...,0.7,1.2,1.4,1.5,2.0,80049,83831.0,84678,87053.0,94498.0
3139,83.8,88.2,89.5,91.4,90.6,56041,11.9,10.5,11.1,12.6,...,1.2,1.2,1.4,1.7,0.9,54672,58235.0,63403,72458.0,75106.0
3140,76.4,78.3,78.2,82.8,85.4,56043,15.4,15.0,15.4,15.0,...,1.3,1.0,0.9,0.9,1.1,51362,53426.0,54158,57306.0,62271.0
3141,71.1,73.3,76.8,79.7,81.3,56045,14.1,13.5,13.4,12.7,...,0.6,0.6,0.0,0.0,0.0,59605,52867.0,57031,53333.0,65566.0

In [200]:
census.columns

Index(['pct_bb_2017', 'pct_bb_2018', 'pct_bb_2019', 'pct_bb_2020',
       'pct_bb_2021', 'cfips', 'pct_college_2017', 'pct_college_2018',
       'pct_college_2019', 'pct_college_2020', 'pct_college_2021',
       'pct_foreign_born_2017', 'pct_foreign_born_2018',
       'pct_foreign_born_2019', 'pct_foreign_born_2020',
       'pct_foreign_born_2021', 'pct_it_workers_2017', 'pct_it_workers_2018',
       'pct_it_workers_2019', 'pct_it_workers_2020', 'pct_it_workers_2021',
       'median_hh_inc_2017', 'median_hh_inc_2018', 'median_hh_inc_2019',
       'median_hh_inc_2020', 'median_hh_inc_2021'],
      dtype='object')

In [201]:
census = census.dropna()

In [202]:
census = census.astype('float64')

In [203]:
#Detecting outliers
from pyod.models.knn import KNN
detector = KNN()
detector.fit(census)

KNN(algorithm='auto', contamination=0.1, leaf_size=30, method='largest',
  metric='minkowski', metric_params=None, n_jobs=1, n_neighbors=5, p=2,
  radius=1.0)

In [204]:
predict = detector.labels_
len(predict)

3138

In [205]:
np.unique(predict, return_counts=True)

(array([0, 1]), array([2824,  314]))

In [206]:
trust = detector.decision_scores_
trust

array([5828.23176272, 5728.85126356, 4687.08895584, ..., 8647.6276689 ,
       3037.00377017, 9182.68738115])

In [207]:
predict

array([0, 0, 0, ..., 1, 0, 1])

In [208]:
outliers = []
for i in range(len(predict)):
  if predict[i] == 1:
    outliers.append(i)

In [209]:
print(outliers)

[5, 31, 41, 52, 58, 59, 67, 68, 69, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 83, 85, 87, 89, 90, 91, 92, 93, 148, 150, 183, 185, 186, 191, 193, 205, 212, 214, 215, 219, 221, 222, 225, 227, 228, 250, 252, 253, 257, 260, 261, 263, 267, 268, 270, 272, 276, 283, 290, 292, 295, 301, 302, 303, 307, 309, 310, 313, 318, 381, 384, 389, 415, 417, 431, 441, 443, 467, 471, 493, 499, 503, 505, 513, 518, 519, 525, 528, 537, 538, 547, 556, 557, 566, 582, 590, 600, 615, 625, 640, 658, 660, 701, 724, 782, 813, 855, 900, 903, 933, 937, 972, 984, 986, 1003, 1065, 1092, 1099, 1110, 1115, 1123, 1129, 1141, 1149, 1152, 1195, 1197, 1201, 1203, 1204, 1206, 1208, 1209, 1225, 1227, 1383, 1394, 1425, 1427, 1431, 1441, 1459, 1478, 1594, 1607, 1609, 1613, 1631, 1636, 1638, 1656, 1677, 1690, 1709, 1710, 1711, 1717, 1720, 1724, 1738, 1741, 1750, 1751, 1752, 1753, 1756, 1769, 1770, 1774, 1775, 1780, 1782, 1784, 1785, 1786, 1790, 1791, 1795, 1800, 1804, 1805, 1809, 1855, 1865, 1869, 1877, 1885, 1902, 1981, 1991, 1994, 1997, 1998, 1999, 2000, 2001, 2004, 2009, 2011, 2014, 2016, 2020, 2021, 2032, 2033, 2040, 2061, 2092, 2120, 2123, 2157, 2212, 2224, 2250, 2256, 2264, 2287, 2309, 2313, 2316, 2318, 2362, 2381, 2394, 2400, 2418, 2419, 2493, 2513, 2519, 2526, 2537, 2544, 2556, 2559, 2563, 2572, 2581, 2584, 2589, 2598, 2599, 2607, 2608, 2623, 2626, 2638, 2649, 2650, 2651, 2654, 2655, 2661, 2674, 2677, 2678, 2691, 2707, 2710, 2713, 2715, 2717, 2725, 2731, 2734, 2736, 2740, 2764, 2772, 2773, 2777, 2778, 2781, 2787, 2788, 2794, 2796, 2798, 2819, 2822, 2844, 2845, 2852, 2857, 2863, 2864, 2868, 2877, 2885, 2888, 2890, 2901, 2910, 2911, 2919, 2920, 2921, 2928, 2930, 2931, 2937, 2960, 2965, 2978, 3011, 3082, 3088, 3110, 3117, 3120, 3132, 3133, 3134, 3135, 3137]

In [210]:
lis_out = census.iloc[outliers, :]
lis_out

,pct_bb_2017,pct_bb_2018,pct_bb_2019,pct_bb_2020,pct_bb_2021,cfips,pct_college_2017,pct_college_2018,pct_college_2019,pct_college_2020,...,pct_it_workers_2017,pct_it_workers_2018,pct_it_workers_2019,pct_it_workers_2020,pct_it_workers_2021,median_hh_inc_2017,median_hh_inc_2018,median_hh_inc_2019,median_hh_inc_2020,median_hh_inc_2021
5,49.4,58.9,60.1,60.6,59.4,1011.0,6.6,7.4,7.4,6.1,...,0.4,0.3,0.5,0.3,0.2,29655.0,32152.0,37785.0,33866.0,29063.0
31,42.0,46.2,51.3,55.6,55.8,1063.0,8.3,6.4,6.1,5.8,...,0.6,1.1,0.8,0.7,0.6,20954.0,21804.0,24145.0,26688.0,28826.0
41,72.5,76.6,80.1,83.0,86.5,1083.0,16.5,16.9,17.4,17.5,...,1.3,1.5,1.6,1.4,1.0,52831.0,56460.0,59686.0,64270.0,70736.0
52,39.8,46.2,53.9,53.6,57.3,1105.0,8.7,8.2,12.9,11.5,...,1.3,1.2,0.0,0.0,2.8,22973.0,23561.0,23447.0,23875.0,27057.0
58,84.5,86.4,88.3,90.8,92.1,1117.0,27.9,27.9,28.4,28.9,...,3.3,2.8,2.5,2.3,1.7,74063.0,75761.0,77799.0,78889.0,82592.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3136,82.9,81.7,85.6,88.1,89.8,56035.0,19.2,19.0,16.7,21.7,...,0.1,0.0,0.0,0.0,0.0,84911.0,78680.0,77403.0,78655.0,82342.0
3137,82.2,82.4,84.0,86.7,88.4,56037.0,15.3,15.2,14.8,13.7,...,0.6,0.6,1.0,0.9,1.0,71083.0,73008.0,74843.0,73384.0,76668.0
3138,83.5,85.9,87.1,89.1,90.5,56039.0,37.7,37.8,38.9,37.2,...,0.7,1.2,1.4,1.5,2.0,80049.0,83831.0,84678.0,87053.0,94498.0
3139,83.8,88.2,89.5,91.4,90.6,56041.0,11.9,10.5,11.1,12.6,...,1.2,1.2,1.4,1.7,0.9,54672.0,58235.0,63403.0,72458.0,75106.0
3141,71.1,73.3,76.8,79.7,81.3,56045.0,14.1,13.5,13.4,12.7,...,0.6,0.6,0.0,0.0,0.0,59605.0,52867.0,57031.0,53333.0,65566.0

In [211]:
#Then detected the outliers changing these values by median of column
column = []
for i in census.columns:
  column.append(i)
for c in column:
  for o in outliers:
    census.loc[o,c] = census.loc[:,c].mean()

In [212]:
predict = detector.labels_

In [213]:
census.columns

Index(['pct_bb_2017', 'pct_bb_2018', 'pct_bb_2019', 'pct_bb_2020',
       'pct_bb_2021', 'cfips', 'pct_college_2017', 'pct_college_2018',
       'pct_college_2019', 'pct_college_2020', 'pct_college_2021',
       'pct_foreign_born_2017', 'pct_foreign_born_2018',
       'pct_foreign_born_2019', 'pct_foreign_born_2020',
       'pct_foreign_born_2021', 'pct_it_workers_2017', 'pct_it_workers_2018',
       'pct_it_workers_2019', 'pct_it_workers_2020', 'pct_it_workers_2021',
       'median_hh_inc_2017', 'median_hh_inc_2018', 'median_hh_inc_2019',
       'median_hh_inc_2020', 'median_hh_inc_2021'],
      dtype='object')

In [214]:
#Reducing the 25 columns for 6 columns
#We have 5 big groups on these groups have 5 columns so I formulated one column per group with the mean of all 5 columns in each group
columns = {'pct_bb_2017': census['pct_bb_2017'] ,
           'pct_bb_2018': census['pct_bb_2018'] , 
           'pct_bb_2019': census['pct_bb_2019'] ,
           'pct_bb_2020': census['pct_bb_2020'] ,
           'pct_bb_2021': census['pct_bb_2021'] }
name = ['pct_bb_2017', 'pct_bb_2018', 'pct_bb_2019', 'pct_bb_2020', 'pct_bb_2021']
mean_pct = []
count = []

for i in range(len(census)):
  if i == 0:
    i =1
  elif i == 1:
    i += 1
  elif i> 1:
    i += 1
  count.append(i)

df = pd.DataFrame(columns, count)

columns2 = {'pct_college_2017': census['pct_college_2017'] ,
           'pct_college_2018': census['pct_college_2018'] , 
           'pct_college_2019': census['pct_college_2019'] ,
           'pct_college_2020': census['pct_college_2020'] ,
           'pct_college_2021': census['pct_college_2021'] }
df2 = pd.DataFrame(columns2, count)

columns3 = {'pct_foreign_born_2017': census['pct_foreign_born_2017'] ,
           'pct_foreign_born_2018': census['pct_foreign_born_2018'] , 
           'pct_foreign_born_2019': census['pct_foreign_born_2019'] ,
           'pct_foreign_born_2020': census['pct_foreign_born_2020'] ,
           'pct_foreign_born_2021': census['pct_foreign_born_2021'] }
df3 = pd.DataFrame(columns3, count)

columns4 = {'pct_it_workers_2017': census['pct_it_workers_2017'] ,
           'pct_it_workers_2018': census['pct_it_workers_2018'] , 
           'pct_it_workers_2019': census['pct_it_workers_2019'] ,
           'pct_it_workers_2020': census['pct_it_workers_2020'] ,
           'pct_it_workers_2021': census['pct_it_workers_2021'] }
df4 = pd.DataFrame(columns4, count)


columns5 = {'median_hh_inc_2017': census['median_hh_inc_2017'] ,
           'median_hh_inc_2018': census['median_hh_inc_2018'] , 
           'median_hh_inc_2019': census['median_hh_inc_2019'] ,
           'median_hh_inc_2020': census['median_hh_inc_2020'] ,
           'median_hh_inc_2021': census['median_hh_inc_2021'] }
df5 = pd.DataFrame(columns5, count)

In [215]:
#Storing the mean columns in a list
df_media_bb = []
for i in df.index:
  df_media_bb.append(df.loc[i].mean())

In [216]:
df_media_college = []
for i in df2.index:
  df_media_college.append(df2.loc[i].mean())

In [217]:
df_media_foreign = []
for i in df3.index:
  df_media_foreign.append(df3.loc[i].mean())

In [218]:
df_media_it = []
for i in df4.index:
  df_media_it.append(df4.loc[i].mean())

In [219]:
df_media_hh = []
for i in df5.index:
  df_media_hh.append(df5.loc[i].mean())

In [220]:
#Puting these mean columns in the dataframe
census['pct_bb_mean'] = df_media_bb
census['pct_college_mean'] =  df_media_college
census['mean_hh_inc'] = df_media_hh
census['pct_foreign_born_mean'] = df_media_foreign
census['pct_mean_worked'] = df_media_it

In [221]:
census.columns

Index(['pct_bb_2017', 'pct_bb_2018', 'pct_bb_2019', 'pct_bb_2020',
       'pct_bb_2021', 'cfips', 'pct_college_2017', 'pct_college_2018',
       'pct_college_2019', 'pct_college_2020', 'pct_college_2021',
       'pct_foreign_born_2017', 'pct_foreign_born_2018',
       'pct_foreign_born_2019', 'pct_foreign_born_2020',
       'pct_foreign_born_2021', 'pct_it_workers_2017', 'pct_it_workers_2018',
       'pct_it_workers_2019', 'pct_it_workers_2020', 'pct_it_workers_2021',
       'median_hh_inc_2017', 'median_hh_inc_2018', 'median_hh_inc_2019',
       'median_hh_inc_2020', 'median_hh_inc_2021', 'pct_bb_mean',
       'pct_college_mean', 'mean_hh_inc', 'pct_foreign_born_mean',
       'pct_mean_worked'],
      dtype='object')

In [222]:
#Deleting all columns just no the mean columns
census = census.drop(['pct_bb_2017', 'pct_bb_2018', 'pct_bb_2019', 'pct_bb_2020','pct_bb_2021'], axis=1)
census = census.drop(['pct_college_2017', 'pct_college_2018','pct_college_2019', 'pct_college_2020', 'pct_college_2021'], axis=1)
census = census.drop(['pct_foreign_born_2017', 'pct_foreign_born_2018','pct_foreign_born_2019', 'pct_foreign_born_2020','pct_foreign_born_2021'], axis=1)
census = census.drop(['pct_it_workers_2017', 'pct_it_workers_2018','pct_it_workers_2019', 'pct_it_workers_2020', 'pct_it_workers_2021'], axis=1)
census = census.drop(['median_hh_inc_2017', 'median_hh_inc_2018', 'median_hh_inc_2019','median_hh_inc_2020', 'median_hh_inc_2021'], axis=1)

In [223]:
census.columns

Index(['cfips', 'pct_bb_mean', 'pct_college_mean', 'mean_hh_inc',
       'pct_foreign_born_mean', 'pct_mean_worked'],
      dtype='object')

In [224]:
census

,cfips,pct_bb_mean,pct_college_mean,mean_hh_inc,pct_foreign_born_mean,pct_mean_worked
0,1001.000000,81.480000,20.580000,58589.200000,3.440000,1.280000
1,1003.000000,61.460000,7.400000,34298.200000,2.620000,0.700000
2,1005.000000,69.600000,7.500000,48456.800000,1.320000,1.600000
3,1007.000000,73.580000,8.720000,49443.400000,4.460000,1.120000
4,1009.000000,75.424481,14.312511,53603.509560,4.732862,1.346539
...,...,...,...,...,...,...
3138,56039.000000,75.243856,14.134448,53144.345462,4.511528,1.327215
3139,56041.000000,85.620000,19.500000,80398.200000,4.320000,0.020000
3140,56043.000000,75.241551,14.133484,53142.308363,4.512258,1.327134
3141,56045.000000,87.220000,37.980000,86021.800000,11.260000,1.360000
92,30607.723588,88.700000,11.680000,64774.800000,2.940000,1.280000

In [225]:
census.fillna(0, inplace=True)

# **Train Database**

In [226]:
#2St dataset loading
train = pd.read_csv('/content/drive/MyDrive/train.csv')

In [227]:
train

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243
...,...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,2022-06-01,1.803249,101
122261,56045_2022-07-01,56045,Weston County,Wyoming,2022-07-01,1.803249,101
122262,56045_2022-08-01,56045,Weston County,Wyoming,2022-08-01,1.785395,100
122263,56045_2022-09-01,56045,Weston County,Wyoming,2022-09-01,1.785395,100
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395,100

In [228]:
#Inputing the  census dataset at train dataset
train['pct_bb_mean'] = census_train['pct_bb_mean']
train['pct_college_mean'] = census_train['pct_college_mean']
train['mean_hh_inc'] = census_train['mean_hh_inc']
train['pct_foreign_born_mean'] = census_train['pct_foreign_born_mean']
train['pct_mean_worked'] = census_train['pct_mean_worked']

In [229]:
train

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active,pct_bb_mean,pct_college_mean,mean_hh_inc,pct_foreign_born_mean,pct_mean_worked
0,1001_2019-08-01,1001,Autauga County,Alabama,2019-08-01,3.007682,1249,81.48,20.58,58589.2,3.44,1.28
1,1001_2019-09-01,1001,Autauga County,Alabama,2019-09-01,2.884870,1198,61.46,7.4,34298.2,2.62,0.7
2,1001_2019-10-01,1001,Autauga County,Alabama,2019-10-01,3.055843,1269,69.6,7.5,48456.8,1.32,1.6
3,1001_2019-11-01,1001,Autauga County,Alabama,2019-11-01,2.993233,1243,73.58,8.72,49443.4,4.46,1.12
4,1001_2019-12-01,1001,Autauga County,Alabama,2019-12-01,2.993233,1243,75.424481,14.312511,53603.50956,4.732862,1.346539
...,...,...,...,...,...,...,...,...,...,...,...,...
122260,56045_2022-06-01,56045,Weston County,Wyoming,2022-06-01,1.803249,101,NaN,NaN,NaN,NaN,NaN
122261,56045_2022-07-01,56045,Weston County,Wyoming,2022-07-01,1.803249,101,NaN,NaN,NaN,NaN,NaN
122262,56045_2022-08-01,56045,Weston County,Wyoming,2022-08-01,1.785395,100,NaN,NaN,NaN,NaN,NaN
122263,56045_2022-09-01,56045,Weston County,Wyoming,2022-09-01,1.785395,100,NaN,NaN,NaN,NaN,NaN
122264,56045_2022-10-01,56045,Weston County,Wyoming,2022-10-01,1.785395,100,NaN,NaN,NaN,NaN,NaN

In [230]:
train.drop('row_id', inplace=True, axis=1)

In [231]:
#3St dataset loadinig
rv = pd.read_csv('/content/drive/MyDrive/revealed_test.csv')
rv

,row_id,cfips,county,state,first_day_of_month,microbusiness_density,active
0,1001_2022-11-01,1001,Autauga County,Alabama,2022-11-01,3.442677,1463
1,1001_2022-12-01,1001,Autauga County,Alabama,2022-12-01,3.470915,1475
2,1003_2022-11-01,1003,Baldwin County,Alabama,2022-11-01,8.257636,14145
3,1003_2022-12-01,1003,Baldwin County,Alabama,2022-12-01,8.250630,14133
4,1005_2022-11-01,1005,Barbour County,Alabama,2022-11-01,1.247223,247
...,...,...,...,...,...,...,...
6265,56041_2022-12-01,56041,Uinta County,Wyoming,2022-12-01,4.050703,588
6266,56043_2022-11-01,56043,Washakie County,Wyoming,2022-11-01,3.143093,190
6267,56043_2022-12-01,56043,Washakie County,Wyoming,2022-12-01,3.060380,185
6268,56045_2022-11-01,56045,Weston County,Wyoming,2022-11-01,1.785395,100
6269,56045_2022-12-01,56045,Weston County,Wyoming,2022-12-01,1.803249,101

In [232]:
rv.drop('row_id', axis=1, inplace=True)

In [233]:
#Concating these two datasets train and rv
train = pd.concat([train, rv], ignore_index=True)

In [234]:
# Loading the last dataset
test = pd.read_csv('/content/drive/MyDrive/test.csv')
test

                 row_id  cfips first_day_of_month
0       1001_2022-11-01   1001         2022-11-01
1       1003_2022-11-01   1003         2022-11-01
2       1005_2022-11-01   1005         2022-11-01
3       1007_2022-11-01   1007         2022-11-01
4       1009_2022-11-01   1009         2022-11-01
...                 ...    ...                ...
25075  56037_2023-06-01  56037         2023-06-01
25076  56039_2023-06-01  56039         2023-06-01
25077  56041_2023-06-01  56041         2023-06-01
25078  56043_2023-06-01  56043         2023-06-01
25079  56045_2023-06-01  56045         2023-06-01

[25080 rows x 3 columns]

In [235]:
test.drop('row_id', inplace=True, axis=1)

In [236]:
#Concating the test dataset with train dataset
train = pd.concat([train, test], ignore_index=True)

In [237]:
#Spliting da column first_day_of_month in year, month and day
import datetime as dt
train['first_day_of_month'] = pd.to_datetime(train['first_day_of_month'])
train['year'] = train['first_day_of_month'].dt.year
train['month'] = train['first_day_of_month'].dt.month
train['day'] = train['first_day_of_month'].dt.day

In [238]:
#Using the Label Encoder for transforming the categorical columns in numeric
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
train['county'] = lb.fit_transform(train['county'])
train['state'] = lb.fit_transform(train['state'])

In [239]:
train

,cfips,county,state,first_day_of_month,microbusiness_density,active,pct_bb_mean,pct_college_mean,mean_hh_inc,pct_foreign_born_mean,pct_mean_worked,year,month,day
0,1001,82,0,2019-08-01,3.007682,1249.0,81.48,20.58,58589.2,3.44,1.28,2019,8,1
1,1001,82,0,2019-09-01,2.884870,1198.0,61.46,7.4,34298.2,2.62,0.7,2019,9,1
2,1001,82,0,2019-10-01,3.055843,1269.0,69.6,7.5,48456.8,1.32,1.6,2019,10,1
3,1001,82,0,2019-11-01,2.993233,1243.0,73.58,8.72,49443.4,4.46,1.12,2019,11,1
4,1001,82,0,2019-12-01,2.993233,1243.0,75.424481,14.312511,53603.50956,4.732862,1.346539,2019,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153610,56037,1871,51,2023-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,6,1
153611,56039,1871,51,2023-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,6,1
153612,56041,1871,51,2023-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,6,1
153613,56043,1871,51,2023-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,6,1
153614,56045,1871,51,2023-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023,6,1

In [240]:
#Changing the NaN values by mean of column
train['microbusiness_density'].fillna(train['microbusiness_density'].mean(), inplace=True)
train['active'].fillna(train['active'].mean(), inplace=True)
train['pct_bb_mean'].fillna(train['pct_bb_mean'].mean(), inplace=True)
train['pct_college_mean'].fillna(train['pct_college_mean'].mean(), inplace=True)
train['mean_hh_inc'].fillna(train['mean_hh_inc'].mean(), inplace=True)
train['pct_foreign_born_mean'].fillna(train['pct_foreign_born_mean'].mean(), inplace=True)
train['pct_mean_worked'].fillna(train['pct_mean_worked'].mean(), inplace=True)

In [241]:
train

,cfips,county,state,first_day_of_month,microbusiness_density,active,pct_bb_mean,pct_college_mean,mean_hh_inc,pct_foreign_born_mean,pct_mean_worked,year,month,day
0,1001,82,0,2019-08-01,3.007682,1249.000000,81.480000,20.580000,58589.200000,3.440000,1.280000,2019,8,1
1,1001,82,0,2019-09-01,2.884870,1198.000000,61.460000,7.400000,34298.200000,2.620000,0.700000,2019,9,1
2,1001,82,0,2019-10-01,3.055843,1269.000000,69.600000,7.500000,48456.800000,1.320000,1.600000,2019,10,1
3,1001,82,0,2019-11-01,2.993233,1243.000000,73.580000,8.720000,49443.400000,4.460000,1.120000,2019,11,1
4,1001,82,0,2019-12-01,2.993233,1243.000000,75.424481,14.312511,53603.509560,4.732862,1.346539,2019,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153610,56037,1871,51,2023-06-01,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1
153611,56039,1871,51,2023-06-01,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1
153612,56041,1871,51,2023-06-01,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1
153613,56043,1871,51,2023-06-01,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1
153614,56045,1871,51,2023-06-01,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1

In [242]:
train.columns

Index(['cfips', 'county', 'state', 'first_day_of_month',
       'microbusiness_density', 'active', 'pct_bb_mean', 'pct_college_mean',
       'mean_hh_inc', 'pct_foreign_born_mean', 'pct_mean_worked', 'year',
       'month', 'day'],
      dtype='object')

In [243]:
train

,cfips,county,state,first_day_of_month,microbusiness_density,active,pct_bb_mean,pct_college_mean,mean_hh_inc,pct_foreign_born_mean,pct_mean_worked,year,month,day
0,1001,82,0,2019-08-01,3.007682,1249.000000,81.480000,20.580000,58589.200000,3.440000,1.280000,2019,8,1
1,1001,82,0,2019-09-01,2.884870,1198.000000,61.460000,7.400000,34298.200000,2.620000,0.700000,2019,9,1
2,1001,82,0,2019-10-01,3.055843,1269.000000,69.600000,7.500000,48456.800000,1.320000,1.600000,2019,10,1
3,1001,82,0,2019-11-01,2.993233,1243.000000,73.580000,8.720000,49443.400000,4.460000,1.120000,2019,11,1
4,1001,82,0,2019-12-01,2.993233,1243.000000,75.424481,14.312511,53603.509560,4.732862,1.346539,2019,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153610,56037,1871,51,2023-06-01,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1
153611,56039,1871,51,2023-06-01,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1
153612,56041,1871,51,2023-06-01,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1
153613,56043,1871,51,2023-06-01,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1
153614,56045,1871,51,2023-06-01,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1

In [244]:
#Droping the first_day_of_month because we aready have that column splited
train = train.drop('first_day_of_month', axis=1)

In [245]:
train

,cfips,county,state,microbusiness_density,active,pct_bb_mean,pct_college_mean,mean_hh_inc,pct_foreign_born_mean,pct_mean_worked,year,month,day
0,1001,82,0,3.007682,1249.000000,81.480000,20.580000,58589.200000,3.440000,1.280000,2019,8,1
1,1001,82,0,2.884870,1198.000000,61.460000,7.400000,34298.200000,2.620000,0.700000,2019,9,1
2,1001,82,0,3.055843,1269.000000,69.600000,7.500000,48456.800000,1.320000,1.600000,2019,10,1
3,1001,82,0,2.993233,1243.000000,73.580000,8.720000,49443.400000,4.460000,1.120000,2019,11,1
4,1001,82,0,2.993233,1243.000000,75.424481,14.312511,53603.509560,4.732862,1.346539,2019,12,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153610,56037,1871,51,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1
153611,56039,1871,51,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1
153612,56041,1871,51,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1
153613,56043,1871,51,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1
153614,56045,1871,51,3.827817,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,6,1

In [246]:
#Standardizing the values for have a better score
from sklearn.preprocessing import StandardScaler
obg_df = StandardScaler().fit(train)

In [247]:
train_df = obg_df.transform(train)
train_df

array([[-1.93978544, -1.70210471, -1.90020988, ..., -1.74569518,
         0.36706517,  0.        ],
       [-1.93978544, -1.70210471, -1.90020988, ..., -1.74569518,
         0.64809945,  0.        ],
       [-1.93978544, -1.70210471, -1.90020988, ..., -1.74569518,
         0.92913372,  0.        ],
       ...,
       [ 1.69479001,  1.32276573,  1.30093102, ...,  1.60877791,
        -0.19500337,  0.        ],
       [ 1.69492208,  1.32276573,  1.30093102, ...,  1.60877791,
        -0.19500337,  0.        ],
       [ 1.69505415,  1.32276573,  1.30093102, ...,  1.60877791,
        -0.19500337,  0.        ]])

In [248]:
train.columns

Index(['cfips', 'county', 'state', 'microbusiness_density', 'active',
       'pct_bb_mean', 'pct_college_mean', 'mean_hh_inc',
       'pct_foreign_born_mean', 'pct_mean_worked', 'year', 'month', 'day'],
      dtype='object')

In [249]:
#Remaking the dataframe
train_df = pd.DataFrame(train_df)
train_df.columns = ['cfips', 'county', 'state', 'microbusiness_density', 'active',
       'pct_bb_mean', 'pct_college_mean', 'mean_hh_inc',
       'pct_foreign_born_mean', 'pct_mean_worked', 'year', 'month', 'day']

In [250]:
train_df

,cfips,county,state,microbusiness_density,active,pct_bb_mean,pct_college_mean,mean_hh_inc,pct_foreign_born_mean,pct_mean_worked,year,month,day
0,-1.939785,-1.702105,-1.900210,-1.772157e-01,-0.172055,5.192038e+00,8.574124e+00,2.862291,-1.525684e+00,-4.824178e-01,-1.745695,0.367065,0.0
1,-1.939785,-1.702105,-1.900210,-2.037530e-01,-0.173739,-1.151077e+01,-9.003201e+00,-10.032018,-2.624490e+00,-5.648146e+00,-1.745695,0.648099,0.0
2,-1.939785,-1.702105,-1.900210,-1.668090e-01,-0.171395,-4.719518e+00,-8.869837e+00,-2.516256,-4.366500e+00,2.367639e+00,-1.745695,0.929134,0.0
3,-1.939785,-1.702105,-1.900210,-1.803378e-01,-0.172253,-1.398980e+00,-7.242801e+00,-1.992543,-1.588758e-01,-1.907446e+00,-1.745695,1.210168,0.0
4,-1.939785,-1.702105,-1.900210,-1.803378e-01,-0.172253,1.398811e-01,2.155743e-01,0.215754,2.067610e-01,1.102088e-01,-1.745695,1.491202,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153610,1.694526,1.322766,1.300931,-9.595930e-17,0.000000,-1.185620e-14,9.476055e-15,0.000000,-2.380332e-15,5.932873e-15,1.608778,-0.195003,0.0
153611,1.694658,1.322766,1.300931,-9.595930e-17,0.000000,-1.185620e-14,9.476055e-15,0.000000,-2.380332e-15,5.932873e-15,1.608778,-0.195003,0.0
153612,1.694790,1.322766,1.300931,-9.595930e-17,0.000000,-1.185620e-14,9.476055e-15,0.000000,-2.380332e-15,5.932873e-15,1.608778,-0.195003,0.0
153613,1.694922,1.322766,1.300931,-9.595930e-17,0.000000,-1.185620e-14,9.476055e-15,0.000000,-2.380332e-15,5.932873e-15,1.608778,-0.195003,0.0
153614,1.695054,1.322766,1.300931,-9.595930e-17,0.000000,-1.185620e-14,9.476055e-15,0.000000,-2.380332e-15,5.932873e-15,1.608778,-0.195003,0.0

In [251]:
#Normalization the values for compete with Standard values
from sklearn.preprocessing import MinMaxScaler
obj_norm = MinMaxScaler().fit(train)
train_norm = obj_norm.transform(train)
train_norm

array([[0.        , 0.04382683, 0.        , ..., 0.        , 0.63636364,
        0.        ],
       [0.        , 0.04382683, 0.        , ..., 0.        , 0.72727273,
        0.        ],
       [0.        , 0.04382683, 0.        , ..., 0.        , 0.81818182,
        0.        ],
       ...,
       [0.99992733, 1.        , 1.        , ..., 1.        , 0.45454545,
        0.        ],
       [0.99996367, 1.        , 1.        , ..., 1.        , 0.45454545,
        0.        ],
       [1.        , 1.        , 1.        , ..., 1.        , 0.45454545,
        0.        ]])

In [252]:
train_norm = pd.DataFrame(train_norm)
train_norm.columns = ['cfips', 'county', 'state', 'microbusiness_density', 'active',
       'pct_bb_mean', 'pct_college_mean', 'mean_hh_inc',
       'pct_foreign_born_mean', 'pct_mean_worked', 'year', 'month', 'day']

In [253]:
train_norm

,cfips,county,state,microbusiness_density,active,pct_bb_mean,pct_college_mean,mean_hh_inc,pct_foreign_born_mean,pct_mean_worked,year,month,day
0,0.000000,0.043827,0.0,0.010578,0.001070,0.861493,0.467727,0.437759,0.064203,0.105611,0.0,0.636364,0.0
1,0.000000,0.043827,0.0,0.010146,0.001026,0.649820,0.168182,0.256265,0.048899,0.057756,0.0,0.727273,0.0
2,0.000000,0.043827,0.0,0.010747,0.001087,0.735885,0.170455,0.362053,0.024636,0.132013,0.0,0.818182,0.0
3,0.000000,0.043827,0.0,0.010527,0.001064,0.777966,0.198182,0.369425,0.083240,0.092409,0.0,0.909091,0.0
4,0.000000,0.043827,0.0,0.010527,0.001064,0.797468,0.325284,0.400508,0.088333,0.111101,0.0,1.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153610,0.999855,1.000000,1.0,0.013462,0.005533,0.795695,0.321611,0.397471,0.085453,0.110080,1.0,0.454545,0.0
153611,0.999891,1.000000,1.0,0.013462,0.005533,0.795695,0.321611,0.397471,0.085453,0.110080,1.0,0.454545,0.0
153612,0.999927,1.000000,1.0,0.013462,0.005533,0.795695,0.321611,0.397471,0.085453,0.110080,1.0,0.454545,0.0
153613,0.999964,1.000000,1.0,0.013462,0.005533,0.795695,0.321611,0.397471,0.085453,0.110080,1.0,0.454545,0.0
153614,1.000000,1.000000,1.0,0.013462,0.005533,0.795695,0.321611,0.397471,0.085453,0.110080,1.0,0.454545,0.0

In [254]:
#Spiting the dataset in train and test, the train part we have 2 variables one with standard values and other with normalization values
var_predict = train_df.drop('microbusiness_density', axis=1)
var_target = train['microbusiness_density']
var_predict_norm = train_norm.drop('microbusiness_density', axis=1)

In [255]:
x_train, x_test, y_train, y_test = train_test_split(var_predict, var_target, test_size=0.3, random_state=1)

In [256]:
#See the performance of XGBRegressor with standard values
xgb = xgboost.XGBRegressor()
xgb = xgb.fit(x_train, y_train)

In [257]:
#Score: 96.10
ac = xgb.score(x_test, y_test)
print('Accurancy :' + str(ac))

Accurancy :0.9610957638487205

In [258]:
#See the performance of XGBRegressor with standard values
#Score: 96.10
x_train, x_test, y_train, y_test = train_test_split(var_predict_norm, var_target, test_size=0.3, random_state=1)
xgb = xgboost.XGBRegressor()
xgb = xgb.fit(x_train, y_train)
ac = xgb.score(x_test, y_test)
print('Accurancy :' + str(ac))

Accurancy :0.9610886927386596

In [259]:
#See the performance wih RandomFlorestRegressor with standard values
#Score: 99.37
x_train, x_test, y_train, y_test = train_test_split(var_predict, var_target, test_size=0.3, random_state=1)
rf = RandomForestRegressor()
rf = rf.fit(x_train, y_train)
ac = rf.score(x_test, y_test)
print('Accurancy :' + str(ac))

Accurancy :0.9937673329915634

In [260]:
#extracting the predictions
predict = rf.predict(x_test)

In [261]:
predict

array([3.47799413, 0.87311396, 3.8278169 , ..., 5.37310448, 0.98400783,
       4.35347587])

In [262]:
len(predict)

46085

In [263]:
#Go back with original values
var_train = train.drop('microbusiness_density', axis=1)
x_train, x_test, y_train, y_test = train_test_split(var_train, var_target, test_size=0.3, random_state=1)

In [264]:
x_test

,cfips,county,state,active,pct_bb_mean,pct_college_mean,mean_hh_inc,pct_foreign_born_mean,pct_mean_worked,year,month,day
114294,51700,1188,46,4845.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2021,8,1
83034,40003,21,36,39.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2019,11,1
149703,45091,1871,51,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,5,1
110728,51047,432,46,3403.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2020,3,1
73900,37015,146,33,230.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2022,6,1
...,...,...,...,...,...,...,...,...,...,...,...,...
83118,40007,122,36,84.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2020,5,1
128265,54031,727,48,253.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2022,11,1
106524,48425,1554,43,367.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2020,11,1
116688,54015,350,48,69.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2019,8,1
64346,30107,1798,26,73.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2022,7,1

In [265]:
#Puting the values of predict
x_test['microbusiness_density'] = predict

In [266]:
#The column "predict" is reverent the microbusiness_density that is the column target
x_test

,cfips,county,state,active,pct_bb_mean,pct_college_mean,mean_hh_inc,pct_foreign_born_mean,pct_mean_worked,year,month,day,microbusiness_density
114294,51700,1188,46,4845.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2021,8,1,3.477994
83034,40003,21,36,39.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2019,11,1,0.873114
149703,45091,1871,51,6461.169277,75.256819,14.150867,53197.060555,4.578563,1.334165,2023,5,1,3.827817
110728,51047,432,46,3403.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2020,3,1,8.986986
73900,37015,146,33,230.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2022,6,1,1.436553
...,...,...,...,...,...,...,...,...,...,...,...,...,...
83118,40007,122,36,84.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2020,5,1,2.060535
128265,54031,727,48,253.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2022,11,1,2.301134
106524,48425,1554,43,367.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2020,11,1,5.373104
116688,54015,350,48,69.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2019,8,1,0.984008
64346,30107,1798,26,73.000000,75.256819,14.150867,53197.060555,4.578563,1.334165,2022,7,1,4.353476

In [267]:
#The MAE is 0.04
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, predict)

print("MAE:", mae)

MAE: 0.04808635047079869

Thank you for see my code